---
kind: Deployment
apiVersion: apps/v1
metadata:
  name: ggs-dataprep
  labels:
    app: ggs-dataprep
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ggs-dataprep
  template:
    metadata:
      labels:
        app: ggs-dataprep
    spec:
      volumes:
      - name: ggs-data
        persistentVolumeClaim:
          claimName: ggs-data-pvc
      - name: config-preferences
        configMap:
          name: ggs-preferences
      - name: config-dataprep
        configMap:
          name: ggs-dataprep-script
      - name: config-datasets
        configMap:
          name: ggs-datasets
      initContainers:
      - name: ggs-dataprep-container
        image: @IMAGE_URI@
        command: ["/bin/bash"]
        args: ["/usr/local/ggs-dataprep/install.sh"]
        volumeMounts:
        - name: ggs-data
          mountPath: /usr/local/ggs-data
        - name: config-dataprep
          mountPath: /usr/local/ggs-dataprep
        - name: config-datasets
          mountPath: /usr/local/ggs-datasets
        resources:
          requests:
            cpu: 1
            memory: 4Gi
        env:
        - name: GGS_DATA
          value: /usr/local/ggs-data
        - name: SPD_LIST
          value: /usr/local/ggs-datasets
      containers:
      - name: ggs-container
        image: @IMAGE_URI@
        ports:
        - containerPort: 8080
          name: http
        volumeMounts:
        - name: ggs-data
          mountPath: /usr/local/ggs-data
        - name: config-preferences
          mountPath: /usr/local/ggs-preferences/geocodePreferences.xml
          subPath: geocodePreferences.xml
        - name: config-dataprep
          mountPath: /usr/local/ggs-dataprep
        resources:
          requests:
            cpu: 1
            memory: 4Gi
        env:
        - name: GGS_DATA
          value: /usr/local/ggs-data
        - name: GGS_PREFERENCES
          value: /usr/local/ggs-preferences/geocodePreferences.xml
        - name: _GEOSTAN_JOURNAL_FILE
          value: $(GGS_DATA)/geostan.txt
      nodeSelector:
        node-app: ggs
---
apiVersion: v1
kind: Service
metadata:
  name: ggs-dataprep
  labels:
    app: ggs-dataprep
spec:
  ports:
  - protocol: TCP
    port: 80
    targetPort: http
  selector:
    app: ggs-dataprep
  type: LoadBalancer